language: php
php:
  - '7.1'
  - '7.2'
  - '7.3'
  - '7.4'

matrix:
 fast_finish: true
 include:
  - php: '5.6'
    before_install: rm 'tests/socketTest.php'
  - php: '7.0'
    before_script:
     - sed "s/. void//" --in-place tests/socketTest.php

  - os: windows
    language: sh
    before_install:
     - choco install php --version 7.3
     - choco install composer
     - export PATH="/c/tools/php73:/c/ProgramData/ComposerSetup/bin/:/c/ProgramData/chocolatey/lib/ffmpeg/tools:$PATH"
     - cp tests/php-test.ini /c/tools/php73/php.ini
  - os: linux
 allow_failures:
  - php: '5.6'

install:
 - composer install --no-interaction;

before_script:
 - vendor/bin/phpunit --version

script:
 - vendor/bin/phpunit

after_script:
 - if [ "$TRAVIS_OS_NAME" = "linux" ]; then bash <(curl -s https://codecov.io/bash); fi